
/* Your CSS Code here. */
.joinBtn {
    background-color: black;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: white;
}

.joinBtn:hover {
    background-color: yellow;
	color:black;
	height: 60px;
	border-radius:30px;
}